<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bloop.css">
    <script src="/static/scripts/bloop.js"></script>
    <title>Identifiers</title>
</head>

<body>
    <h1>Identifiers</h1>
    <input type = "text" id = "search-query" placeholder="Search for repository" oninput="search()"/>

    {% for repo in repos %}
    <button class="search-item"> 
        <a href="/build/{{repo.identifier}}/commits">{{repo.url}}</a>
    </button> 
    {% endfor %}
</body>

</html>