<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bloop.css">
    <title>Add new url for monitoring</title>
</head>

<body>
    <h1 style="margin-top: 2em;">Add new url for monitoring</h1>
    <form action="/addnew" method="POST">
        <input name="url" type="text" placeholder="Enter url for monitoring" />
        <input type="password" name="password" placeholder="Enter password"/>
        <button type="submit">Add url</button>
    </form>
</body>

</html>